{{ if eq .chezmoi.os "darwin" -}}

{{ $brews := list
  "curl"
  "fish"
  "gcc"
  "gnu-tar"
  "gnupg"
  "jq"
  "pinentry-mac"
  "sheldon"
  "wget"
  "zoxide" -}}

{{ $casks := list
  "iterm2" -}}

#!/usr/bin/env bash

set -Eeuo pipefail

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

{{ end -}}
{{/* vim: set filetype=sh: */}}
