{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

set -Eeuo pipefail
{{ else if (eq .osid "darwin") -}}

packages=(
  git
  curl
  fish
  gcc
  gnu-tar
  zoxide
)

brew update
brew install "${packages[@]}"
{{ end -}}
{{/* vim: set filetype=sh: */}}
