[user]
	name = {{ .name }}
	email = {{ .email }}
[include]
	path = ~/.config/git/alias
[branch]
	autoSetupRebase = always
[commit]
	template = ~/.config/git/message
[core]
	editor = nvim
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[fetch]
	prune = true
	writeCommitGraph = true
[pull]
	rebase = true
[push]
	default = current
	followTags = true
[rebase]
	autoStash = true
[rerere]
	enabled = true
[status]
	showUntrackedFiles = all
{{/* vim: set filetype=gitconfig: */}}
