{{- if (eq .chezmoi.os "linux") -}}
#!/usr/bin/env bash

set -Eeuo pipefail

if [ ! "$(command -v nvim)" ]; then
  shims_dir="$HOME/.asdf/shims"
  nvim="$shims_dir/nvim"
else
  nvim=nvim
fi
  
"$nvim" --headless -c 'autocmd User PackerComplete quitall' -c 'PackerSync'
"$nvim" --headless -c 'TSInstallSync maintained' -c 'quitall'
{{- end -}}
