{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
{{ end }}

{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
AppData
Documents
{{ end }}

{{ if eq .chezmoi.os "windows" }}
.bash_aliases
.bash_profile
.bashrc
.config/direnv
.config/fish
.config/readline
.config/rtx
.config/sheldon
.config/zsh
.profile
.zshenv
{{ end }}
