{{ if ne .chezmoi.os "windows" }}
AppData
Documents
{{ end }}

{{ if eq .chezmoi.os "windows" }}
.bash_aliases
.bash_profile
.bashrc
.config/direnv
.config/fish
.config/readline
.config/rtx
.config/sheldon
.config/zsh
.profile
.zshenv
{{ end }}
