{{- $headless := false -}}

{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (env "GITHUB_ACTIONS") (eq .chezmoi.username "root" "vscode") -}}
{{-   $headless = true -}}
{{- end -}}

[data]
    name = "Kotaro Yamada"
    headless = {{ $headless }}
{{- if $headless }}
    email = "32237320+gametaro@users.noreply.github.com"
{{- else }}
    email = {{ promptString "email" | quote }}
{{- end }}
{{/* vim: set filetype=toml: */}}
