{{- $headless := false -}}
{{- $name := "Kotaro Yamada" -}}
{{- $email := "32237320+gametaro@users.noreply.github.com" -}}

{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (env "GITHUB_ACTIONS") (eq .chezmoi.username "root" "vscode") -}}
{{-   $headless = true -}}
{{- end -}}

{{- if not $headless -}}
{{-   $name = promptString "name" $name -}}
{{-   $email = promptString "email" $email -}}
{{- end -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}
progress = {{ not $headless }}

[merge]
  command = "nvim"
  args = [ "-d", "-c", '"$wincmd w"', "-c", '"wincmd J"' ]

[diff]
  command = "nvim"
  args = [ "-d", "-c", '"$wincmd w"', "-c", '"wincmd J"' ]

[data]
  headless = {{ $headless }}
  name = {{ $name | quote }}
  email = {{ $email | quote }}
{{/* vim: set filetype=toml: */}}
