bat 0.22.1
delta 0.15.1
direnv 2.32.2
fd 8.6.0
fzf 0.35.1
github-cli 2.20.2
golang 1.19
neovim nightly
nodejs 16.15.1
ripgrep 13.0.0
starship 1.12.0
{{- if (ne .chezmoi.os "darwin") }}
zoxide 0.8.3
{{- end }}
