bat 0.20.0 system
delta 0.12.1 system
direnv 2.31.0 system
fd 8.3.2 system
fzf 0.30.0 system
github-cli 2.9.0 system
golang 1.18.1 system
neovim nightly system
nodejs 16.15.0 system
ripgrep 13.0.0 system
starship 1.6.3 system
stylua 0.13.1 system
{{- if (ne .chezmoi.os "darwin") }}
zoxide 0.8.1 system
{{- end }}
