bat 0.21.0
delta 0.13.0
direnv 2.32.1
fd 8.4.0
fzf 0.30.0
github-cli 2.11.3
golang 1.18.2
neovim nightly
nodejs 16.15.0
ripgrep 13.0.0
starship 1.9.1
stylua 0.13.1
{{- if (ne .chezmoi.os "darwin") }}
zoxide 0.8.1
{{- end }}
