{{- if (eq .chezmoi.os "linux") -}}
#!/usr/bin/env sh
set -Eeu

. "$HOME/.profile"

nvim --headless -c 'autocmd User PackerComplete quitall' -c 'PackerSync'
nvim --headless -c 'packadd nvim-treesitter' -c 'TSInstallSync! lua vim bash json toml markdown' -c 'quitall'
nvim --headless -c 'LspInstall --sync sumneko_lua tsserver jsonls bashls eslint yamlls' -c 'quitall'
{{- end -}}
{{/* vim: set filetype=sh: */}}
