{{ if (eq .chezmoi.os "windows") }}

~\scoop\shims\nvim --headless -c 'autocmd User PackerComplete quitall' -c 'PackerSync'
# ~\scoop\shims\nvim --headless -c 'TSInstallSync maintained' -c 'quitall'
~\scoop\shims\nvim --headless -c 'LspInstall --sync sumneko_lua tsserver jsonls bashls eslint yamlls' -c 'quitall'

{{ end }}
