{{ if (eq .chezmoi.os "windows") }}

# install scoop
iwr -useb get.scoop.sh | iex

scoop bucket add versions
scoop bucket add extras

$Packages = @(
  "git",
  "sudo",
  "bat",
  "fd",
  "fzf",
  "neovim-nightly",
  "nodejs",
  "ripgrep",
  "starship",
  "wezterm",
  "zoxide"
)

scoop install @Packages

{{ end }}
