{{ if (eq .chezmoi.os "windows") }}

# install scoop
if ( -not (Test-Path -Path $HOME\scoop) )
{
  iwr -useb get.scoop.sh outfile 'install.ps1'
  .\install.ps1 -RunAsAdmin
}

scoop install git

scoop bucket add versions
scoop bucket add extras
scoop bucket add nerd-fonts

$Packages = @(
  "curl",
  "sudo",
  "gcc",
  "make",
  "coreutils",
  "clink",
  "clink-completions",
  "bat",
  "delta",
  "fd",
  "fzf",
  "neovim-nightly",
  "nodejs-lts",
  "ripgrep",
  "starship",
  "wezterm",
  "zoxide",
  "Firacode-NF",
  "pwsh"
)

scoop install @Packages

{{ end }}
{{/* vim: set filetype=ps1: */}}
