{{ if (eq .chezmoi.os "linux") -}}

#!/usr/bin/env bash

set -Eeuo pipefail

{{ if (eq .chezmoi.osRelease.id "debian" "ubuntu") -}}
packages=(
  build-essential
  curl
  fish
  git
  jq
  libsqlite3-dev
  procps
  sqlite3
  unzip
  wget
)

main() {
  {{ if (eq .chezmoi.osRelease.id "ubuntu") -}}
  sudo add-apt-repository ppa:git-core/ppa
  sudo add-apt-repository ppa:fish-shell/release-3
  {{ end -}}
  {{ if (eq .chezmoi.osRelease.id "debian") -}}
  echo 'deb http://download.opensuse.org/repositories/shells:/fish:/release:/3/Debian_10/ /' \
    | sudo tee /etc/apt/sources.list.d/shells:fish:release:3.list
  curl -fsSLk https://download.opensuse.org/repositories/shells:fish:release:3/Debian_10/Release.key \
    | gpg --dearmor \
    | sudo tee /etc/apt/trusted.gpg.d/shells_fish_release_3.gpg > /dev/null
  {{ end -}}
  sudo apt-get update
  sudo apt-get install -y "${packages[@]}"
}

{{ end -}}
{{ if (eq .chezmoi.osRelease.id "amzn" "centos" "fedora" "rhel") -}}

packages=(
  bc
  curl
  gcc-c++
  git
  jq
  procps-ng
  sqlite-devel
  unzip
  wget
)

main() {
  sudo dnf install -y "${packages[@]}"
  sudo dnf group install -y "Development Tools"
  cd /etc/yum.repos.d/
  sudo wget https://download.opensuse.org/repositories/shells:fish:release:3/CentOS_8/shells:fish:release:3.repo
  sudo dnf install -y fish
}

{{ end -}}
{{ if (eq .chezmoi.os "darwin") -}}

packages=(
  git
  curl
  fish
  gcc
  gnu-tar
  zoxide
)

main() {
  brew update
  brew install "${packages[@]}"
}

{{ end -}}

main "$@"

{{ end -}}
{{/* vim: set filetype=sh: */}}
