{{ if (eq .chezmoi.os "windows") }}

# install scoop
if ( -not (Test-Path -Path $HOME\scoop) )
{
  iwr -useb get.scoop.sh | iex
}

scoop bucket add versions
scoop bucket add extras
scoop bucket add nerd-fonts

$Packages = @(
  "aria2",
  "git",
  "curl",
  "sudo",
  "clink",
  "clink-completions",
  "bat",
  "fd",
  "fzf",
  "neovim-nightly",
  "nodejs",
  "ripgrep",
  "starship",
  "wezterm",
  "zoxide",
  "Firacode-NF",
  "pwsh"
)

scoop install @Packages

{{ end }}
{{/* vim: set filetype=ps1: */}}
