{{- if (eq .chezmoi.os "linux" "darwin") -}}
{{- writeToStdout "Configuring asdf...\n" -}}
#!/usr/bin/env sh
set -eu

. "$HOME/.profile"

plugin_add() {
  # don't exit with exit code 2
  asdf plugin-add "$1" "${2:-}" || [ $? -eq 2 ]
}

while read -r plugin _; do
  plugin_add "$plugin"
done <"$HOME/.tool-versions"

asdf install
{{- end -}}
{{/* vim: set filetype=sh: */}}
