{{- if (eq .chezmoi.os "linux" "darwin") -}}
#!/usr/bin/env sh
set -eu

plugin_add() {
  # don't exit with exit code 2
  asdf plugin-add "$1" "${2:-}" || [ $? -eq 2 ]
}

if [ ! -e "$HOME/.asdf" ]; then
  git clone https://github.com/asdf-vm/asdf.git "$HOME/.asdf" --branch v0.10.0
fi

. "$HOME/.profile"

while read -r plugin _; do
  plugin_add "$plugin"
done <"$HOME/.tool-versions"

asdf install

asdf direnv setup --shell zsh --version latest
{{- end -}}
{{/* vim: set filetype=sh: */}}
