{{ if (eq .chezmoi.os "windows") }}

$Packages = @(
  "Git.GIt",
  "GitHub.cli"
  "Microsoft.PowerShell"
  "Neovim.Neovim.Nightly"
  "OpenJS.NodeJS.LTS",
  "Starship.Starship",
  "gerardog.gsudo",
  "sharkdp.fd",
  "zig.zig",
)

foreach ( $Package in $Packages )
{
  winget install -e --id $Package
}

{{ end }}
