{{- if (eq .chezmoi.os "linux") -}}
#!/usr/bin/env sh
set -eu

. "$HOME/.profile"

nvim --headless -c "autocmd User PackerComplete quitall" -c "PackerSync"
{{- end -}}
{{/* vim: set filetype=sh: */}}
