{{ if eq .chezmoi.os "linux" -}}

{{ $packages := list
  "curl"
  "git"
  "jq"
  "unzip"
  "wget"
  "zsh" -}}

{{ if eq .chezmoi.osRelease.id "debian" "ubuntu" -}}
{{ $packages = concat $packages (list
  "build-essential"
  "libsqlite3-dev"
  "procps"
  "python3-venv"
  "sqlite3") -}}
{{ end -}}

{{ if eq .chezmoi.osRelease.id "amzn" "centos" "fedora" "rhel" -}}
{{ $packages = concat $packages (list
  "bc"
  "gcc-c++"
  "procps-ng"
  "sqlite-devel") -}}
{{ end -}}

{{ $sudo := "sudo -E " -}}
{{ if eq .chezmoi.username "root" -}}
{{ $sudo = "" -}}
{{ end -}}

#!/usr/bin/env bash

set -Eeuo pipefail

{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
{{ $sudo }}add-apt-repository ppa:git-core/ppa
{{ end -}}

{{ if eq .chezmoi.osRelease.id "debian" "ubuntu" -}}
{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ $packages | join " " }}
{{ end -}}

{{ if eq .chezmoi.osRelease.id "amzn" "centos" "fedora" "rhel" -}}
{{ $sudo }}dnf install -y {{ $packages | join " " }}
{{ $sudo }}dnf group install -y "Development Tools"
{{ end -}}

{{ end -}}
{{/* vim: set filetype=sh: */}}
