{{ $packages := list
  "curl"
  "fd-find"
  "git"
  "jq"
  "ripgrep"
  "unzip"
  "wget"
  "zsh" -}}

{{ if eq .chezmoi.osRelease.id "debian" "ubuntu" -}}
  {{ $packages = concat $packages (list
    "build-essential"
    "procps"
    "python3-venv") -}}
{{ end -}}

{{ if eq .chezmoi.osRelease.id "amzn" "centos" "fedora" "rhel" -}}
  {{ $packages = concat $packages (list
    "bc"
    "gcc-c++"
    "procps-ng") -}}
{{ end -}}

{{ $sudo := "sudo -E " -}}
  {{ if eq .chezmoi.username "root" -}}
  {{ $sudo = "" -}}
{{ end -}}

#!/usr/bin/env sh
set -eu

{{ if eq .chezmoi.osRelease.id "debian" "ubuntu" -}}
  {{ $sudo }}apt-get update
  {{ $sudo }}apt-get install -y {{ $packages | join " " }}
{{ end -}}

{{ if eq .chezmoi.osRelease.id "amzn" "centos" "fedora" "rhel" -}}
  {{ $sudo }}dnf install -y {{ $packages | join " " }}
  {{ $sudo }}dnf group install -y "Development Tools"
{{ end -}}

{{/* vim: set filetype=sh: */}}
