{{ $sudo := "sudo -E " -}}
{{ if eq .chezmoi.username "root" -}}
  {{ $sudo = "" -}}
{{ end -}}

#!/usr/bin/env sh
set -eu

# https://github.com/nodesource/distributions/blob/master/README.md

if ! command -v node >/dev/null; then

{{ if eq .chezmoi.osRelease.id "debian" "ubuntu" -}}
  curl -fsSL https://deb.nodesource.com/setup_lts.x | {{ $sudo }}bash - &&\
  {{ $sudo }}apt-get install -y nodejs
{{ end -}}

{{ if eq .chezmoi.osRelease.id "amzn" "centos" "fedora" "rhel" -}}
  curl -fsSL https://rpm.nodesource.com/setup_lts.x | {{ $sudo }}bash -
{{ end -}}

fi
{{/* vim: set filetype=sh: */}}
