[user]
  name = {{ .name }}
  email = {{ .email }}
[init]
  defaultBranch = main
[include]
  path = ~/.config/git/alias
[branch]
  autoSetupRebase = always
[commit]
  verbose = true
[core]
  editor = nvim
  pager = nvim
[color]
  ui = false
[fetch]
  prune = true
  writeCommitGraph = true
[pull]
  rebase = true
[push]
  default = current
  autoSetupRemote = true
  followTags = true
[rebase]
  autoSquash = true
  autoStash = true
[rerere]
  enabled = true
[status]
  showUntrackedFiles = all
[merge]
  tool = nvimdiff
  conflictstyle = diff3 ; zdiff3
[mergetool]
  prompt = true
  keepBackup = false
[mergetool "nvimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[diff]
  tool = nvimdiff
  colorMoved = default
[difftool]
  prompt = true
[difftool "nvimdiff"]
  cmd = nvim -d $LOCAL $REMOTE -c '$wincmd w'
[grep]
  lineNumber = true
  column = true
  extendRegexp = true
  fallbackToNoIndex = true
