[user]
  name = {{ .name }}
  email = {{ .email }}
[init]
  defaultBranch = main
[include]
  path = ~/.config/git/alias
[branch]
  autoSetupRebase = always
[commit]
  verbose = true
[core]
  editor = nvim --cmd 'let g:unception_block_while_host_edits=1'
  pager = delta
[fetch]
  prune = true
  writeCommitGraph = true
[pull]
  rebase = true
[push]
  default = current
  autoSetupRemote = true
  followTags = true
[rebase]
  autoSquash = true
  autoStash = true
[rerere]
  enabled = true
[status]
  showUntrackedFiles = all
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
[merge]
  tool = nvimdiff
  conflictstyle = diff3 ; zdiff3
[mergetool]
  keepBackup = false
[mergetool "nvimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[diff]
  colorMoved = default
[grep]
  lineNumber = true
  column = true
  extendRegexp = true
  fallbackToNoIndex = true
{{/* vim: set filetype=gitconfig: */}}
